node_modules/
dist/
.env
.env.local
.env.*.local
/server/node_modules/
/server/dist/
/server/.env
.DS_Store
.vscode/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea/
*.log
*.tgz
/.pnp
/.pnp.js
report.webpack.*.json
